%compliance-text {
  padding: 1px 4px;
  font-weight: 600;
}

%compliance-text-in-compliance {
  @extend %compliance-text;
  color: $compliance;
  border: $compliance 0.5px solid;
}

%compliance-text-not-in-compliance {
  @extend %compliance-text;
  color: $non-compliance;
  border: $non-compliance-light 0.5px solid;
}

%compliance-text-other {
  @extend %compliance-text;
  color: $compliance-other;
  border: $compliance-other-light 0.5px solid;
}

.compliance-summary {
  padding: 15px 0;
}

.compliance-summary__title {
  font-weight: 600;
}

.js-compliance-summary__title {
  display: inline;
}

.js-compliance-summary__value {
  display: inline;
}

.compliance-summary__value--in-compliance {
  @extend %compliance-text-in-compliance;
}

.compliance-summary__value--non-compliance {
  @extend %compliance-text-not-in-compliance;
}

.compliance-summary__value--not-measured {
  @extend %compliance-text-other;
}

.compliance-list__item {
  margin: 10px 0;
}

.compliance-list__item--in-compliance {
  display: inline;
  @extend %compliance-text-in-compliance;
}

.compliance-list__item--not-in-compliance {
  display: inline;
  @extend %compliance-text-not-in-compliance;
}

.compliance-list__item--other {
  display: inline;
  @extend %compliance-text-other;
}
