$turquoise: #00acc1;
$light-turquoise: lighten($turquoise, 10%);
$dark-turquoise: darken($turquoise, 10%);
$charcoal: #212121;
$light-grey: #f9f9f9;
$black: #000000;
$compliance: #4d7d17;
$compliance-light: lighten($compliance, 10%);
$non-compliance: #bb5202;
$non-compliance-light: lighten($non-compliance, 10%);
$compliance-other: #575757;
$compliance-other-light: lighten($compliance-other, 10%);
$white: #ffffff;
$bar-positive: #66a61e;
$bar-negative: #d95f02;
$bar-blue: blue;
$shadow: #aaa;
