* {
  font-family: 'Oxygen', sans-serif;
  color: #212121;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h3 {
  margin-top: 5px;
}
/*
::-webkit-scrollbar {
  height: 10px;
  border: none;
}
::-webkit-scrollbar-thumb:horizontal {
  background: #aaa;
  border-radius: 10px;
}
*/
.navigation {
  background-color: #00acc1;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  line-height: 50px;
  box-shadow: 0px 1px 3px #aaa;
}

.navigation__title {
  margin-right: auto;
  text-decoration: none;
  color: black;
  padding: 0px 25px;
  font-size: 2rem;
}

.paragraph-select {
  padding: 0px 30px;
  margin-right: 30px;
}

select {
  border: 0;
  margin: 0 auto;
  outline: none;
  background-color: white;
  height: 30px;
  min-width: 150px;
}

.filter-btn {
  font-size: 1.2rem;
  line-height: 60px;
  cursor: pointer;
  height: 100%;
  padding: 0 35px;
}

.filter-btn:hover {
  background-color: #24d0e5;
}

.filter-btn--active {
  background-color: #24d0e5;
}

.container {
  z-index: 1;
  position: relative;
  display: flex;
  top: 20px;
  margin: 15px 15px 0 15px;
}

.filter-panel {
  z-index: 3;
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  box-shadow: 1px 1px 3px #aaa;
}

.filter-panel--visible {
  height: 250px;
}

.paragraph-list {
  height: 0px;
  max-width: 500px;
  position: absolute;
  overflow: hidden;
  right: 0px;
  padding: 0px;
  margin-right: 30px;
  top: 34px;
  z-index: 4;
  background-color: #eee;
  box-shadow: 0px 1px 3px #aaa;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.paragraph-list--overflow {
  overflow: auto;
}

.paragraph-select {
  cursor: pointer;
}

.paragraph-select:hover {
  background-color: #24d0e5;
}

.paragraph-select--active {
  background-color: #24d0e5;
}

.paragraph-list li {
  background-color: #eee;
  overflow: hidden;
  padding: 0px 10px;
  vertical-align: center;
  height: 0px;
  line-height: 36px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
  -o-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
}

.paragraph-list li:hover {
  background-color: #aaa;
}
.paragraph-select--active .paragraph-list li {
  height: 36px;
}

.paragraph-select--active .paragraph-list {
  max-height: 50vh;
}
.container__paragraph {
  margin: 0 15px 0 15px;
  width: 50%;
}

.container__compliance {
  margin: 0 15px 0 15px;
  width: 50%;
}

.paragraph {
  box-shadow: 1px 1px 3px #aaa;
  padding: 0px 15px 70px;
  position: relative;
}

.paragraph__title {
  margin: 0;
  padding: 15px 0px 15px 0px;
}

.paragraph__body {
  cursor: default;
  line-height: 1.5rem;
}

.copy-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #007c91;
  box-shadow: 3px 3px 4px #aaa;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

.feather-clipboard {
  stroke: #fff;
}

.feather-filter {
  fill: #000;
}

.copy-btn--clicked {
  background-color: #006a7f;
  box-shadow: 2px 2px 3px #aaa;
}

.paragraph__term {
  background-color: #fff;
  padding: 2px 5px;
  border: 1px solid #222;
  position: fixed;
  max-width: 450px;
  z-index: 9;
  box-shadow: 2px 2px 3px #999;
}

.paragraph__term--show {
  visibility: visible;
  opacity: 0.95;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.paragraph__term--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.help {
  font-size: 0.7em;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: #777;
  color: #fff;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

.help:hover {
  background-color: #888;
  box-shadow: 1px 1px 2px #aaa;
}

.message-box {
  padding: 10px;
  width: 66%;
  position: absolute;
  z-index: 1;
  background-color: #eee;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px #aaa;
  color: black;
  transition: opacity 0.3s linear;
}

.message-box--show {
  visibility: visible;
  opacity: 1;
}

.message-box--hidden {
  visibility: hidden;
  opacity: 0;
}

.compliance {
  position: relative;
  box-shadow: 1px 1px 3px #aaa;
  padding: 0px 15px 70px;
}

.compliance__title {
  margin: 0;
  padding: 10px 0px 10px 0px;
}

.report-title {
  margin: 0;
  padding: 10px 0px 10px 0px;
}

.compliance__chart {
  min-height: 200px;
}

.compliance-list__item--in-compliance::after {
  font-size: 1.3rem;
  content: ' \2713';
  color: green;
}

.compliance-list__item--not-in-compliance::after {
  font-size: 1.3rem;
  content: ' \2715';
  color: red;
}

.topic {
  width: 95%;
  overflow-x: auto;
  min-height: 30px;
  margin: 0px 30px;
  padding: 15px;
}

.category-topics__container {
  width: 200em;
}

.specific-topics__container {
  width: 600em;
}

.specific-topics {
  white-space: nowrap;
}

.topic__chip {
  display: inline;
  cursor: pointer;
  background-color: #dddddd;
  padding: 5px 7px;
  margin: 5px;
  box-shadow: 1px 1px 3px #aaa;
  transition: all 0.3s ease-in;
}

.topic__chip:hover {
  background-color: #d0d0d0;
  box-shadow: 2px 2px 4px #aaa;
}

.topic__chip--active {
  background-color: #7b1fa2;
  box-shadow: none;
  color: white;
}

.topic__chip--active:hover {
  background-color: #690d90;
  box-shadow: 1px 1px 3px #aaa;
  color: white;
}

.topic__chip--hidden {
  display: none;
}

.topic__chip--show {
  display: inline;
}

.term {
  cursor: pointer;
  text-decoration: underline dotted #007c91;
}

.snack {
  z-index: 9;
  text-align: center;
  position: fixed;
  left: calc(50% - 140px);
  height: 30px;
  padding: 15px;
  width: 280px;
  background-color: #333;
  color: white;
  line-height: 30px;
  opacity: 0.7;
  bottom: 0;
  transform: translateY(62px);
  will-change: transform;
  transition: transform 0.4s ease-in-out;
}

.snack--visible {
  transform: none;
}

.axis {
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

.bar {
  cursor: pointer;
}

.bar--zero {
  fill: blue;
}

.bar--positive {
  fill: #66a61e;
}

.bar--negative {
  fill: #d95f02;
}
