* {
  font-family: 'Oxygen', sans-serif;
  color: #212121;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

select {
  border: 0;
  padding: 15px;
  outline: 1px solid #000;
  background-color: white;
  height: 30px;
  min-width: 150px;
}

.navigation {
  background-color: #00acc1;
  display: flex;
  height: 70px;
  line-height: 70px;
  box-shadow: 0px 1px 3px #aaa;
}

.navigation__title {
  text-decoration: none;
  color: black;
  padding: 0px 25px;
  font-size: 2rem;
}

.container {
  display: flex;
  margin: 15px 15px 0 15px;
}

.filter {
  box-shadow: 1px 1px 3px #aaa;
  margin: 15px 30px 0 30px;
  display: flex;
}

.container__paragraph {
  margin: 0 15px 0 15px;
  width: 50%;
}

.container__compliance {
  margin: 0 15px 0 15px;
  width: 50%;
}

.paragraph {
  box-shadow: 1px 1px 3px #aaa;
  padding: 15px 15px 70px;
  position: relative;
}

.paragraph__body {
  cursor: default;
  line-height: 1.5rem;
}

.copy-btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #007c91;
  box-shadow: 3px 3px 4px #aaa;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

.copy-btn--clicked {
  background-color: #006a7f;
  box-shadow: 2px 2px 3px #aaa;
}

.paragraph__term {
  background-color: #fff;
  padding: 2px 5px;
  border: 1px solid #222;
  position: fixed;
  z-index: 9;
  box-shadow: 2px 2px 3px #999;
}

.paragraph__term--show {
  visibility: visible;
  opacity: 0.9;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.paragraph__term--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.help {
  font-size: 0.7em;
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-color: #777;
  color: #fff;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
}

.help:hover {
  background-color: #888;
  box-shadow: 1px 1px 2px #aaa;
}

.message-box {
  padding: 10px;
  width: 66%;
  position: absolute;
  z-index: 1;
  background-color: #eee;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px #aaa;
  color: black;
  transition: opacity 0.3s linear;
}

.message-box--show {
  visibility: visible;
  opacity: 1;
}

.message-box--hidden {
  visibility: hidden;
  opacity: 0;
}

.compliance {
  box-shadow: 1px 1px 3px #aaa;
  padding: 15px 15px;
}

.compliance__chart {
  min-height: 200px;
}

.topic {
  min-height: 30px;
  padding: 15px;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #aaa;
  border-radius: 10px;
}

.specific-topics {
  white-space: nowrap;
}

.topic__chip {
  display: inline;
  cursor: pointer;
  background-color: #dddddd;
  padding: 5px 7px;
  margin: 5px;
  box-shadow: 1px 1px 3px #aaa;
  transition: all 0.3s ease-in;
}

.topic__chip:hover {
  background-color: #d0d0d0;
  box-shadow: 2px 2px 4px #aaa;
}

.topic__chip--active {
  background-color: #7b1fa2;
  box-shadow: none;
  color: white;
}

.topic__chip--active:hover {
  background-color: #690d90;
  box-shadow: 1px 1px 3px #aaa;
  color: white;
}

.topic__chip--hidden {
  display: none;
}

.topic__chip--show {
  display: inline;
}

.term {
  cursor: pointer;
  text-decoration: underline dotted #007c91;
}

.snack {
  text-align: center;
  position: fixed;
  left: calc(50% - 140px);
  height: 30px;
  padding: 15px;
  width: 280px;
  background-color: #333;
  color: white;
  line-height: 30px;
  opacity: 0.7;
  bottom: 0;
  transform: translateY(62px);
  will-change: transform;
  transition: transform 0.4s ease-in-out;
}

.snack--visible {
  transform: none;
}
