<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=11" />
    <meta
      type="keywords"
      content="smartCASA,Albuquerque,Police,DOJ,Justice,ACLU,Court,CASA,Approved,Settlement,Consent,Decree,Independent,Monitor"
    />
    <meta
      name="Description"
      content="smartCASA is an interactive web application for exploring the Albuquerque Police Department Court Approved Settlement Agreement Compliance"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-135893593-1"
    ></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise"></script>
    <script src="https://unpkg.com/unfetch/polyfill"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.20171210/classList.min.js"></script>
    <link rel="preconnect" href="https://api.smartcasa.org" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-135893593-1');
    </script>

    <title>smartCASA</title>
  </head>
  <body>
    <div class="navigation">
      <div class="logo">
        <img
          src="<%= require('../static/img/svg/logo.svg') %>"
          alt="smart casa logo"
        />
      </div>
      <a href="/" class="navigation__title" aria-label="link to page">
        smartCASA
      </a>
      <div class="search-icon-container"><i data-feather="search"></i></div>
      <input
        type="text"
        name="search"
        id="search"
        class="topic-search"
        aria-label="term search filter"
        placeholder="type here to filter paragraph list"
        disabled
      />
      <div class="paragraph-select">
        <span class="selected-paragraph"></span>
        <ul class="paragraph-list"></ul>
      </div>
    </div>
    <section class="container">
      <div class="container__paragraph">
        <div class="paragraph">
          <h1 class="js-paragraph__title paragraph__title"></h1>
          <div class="js-paragraph__body paragraph__body"></div>
          <div
            class="js-paragraph__term paragraph__term paragraph__term--hidden"
          ></div>
          <div class="js-paragraph-help help">?</div>
          <div class="js-copy-btn copy-btn">
            <i data-feather="clipboard"></i>
          </div>
        </div>
      </div>
      <div class="container__compliance">
        <div class="no-compliance no-compliance--hidden">
          <h3>Paragraph is not monitored</h3>
        </div>
        <div class="compliance">
          <div class="compliance__title">
            <h3>
              Compliance Score History for Paragraph
              <span class="title-paragraph-number"></span>
            </h3>
            <h4 class="compliance-dates"></h4>
          </div>

          <div class="compliance__chart">
            <svg><g></g></svg>
            <svg class="legend" height="100px">
              <g>
                <rect
                  class="legend-item green"
                  width="20px"
                  height="20px"
                  x="0"
                  y="0"
                ></rect>
                <text x="22" y="16">Compliance</text>
                <rect
                  class="legend-item blue"
                  width="20px"
                  height="20px"
                  x="0"
                  y="30"
                ></rect>
                <text x="22" y="46">Not Yet Due/Not Measured</text>
                <rect
                  class="legend-item red"
                  width="20px"
                  height="20px"
                  x="0"
                  y="60"
                ></rect>
                <text x="22" y="76">Non-Compliance</text>
              </g>
            </svg>
          </div>
          <div class="compliance__detail">
            <h3 class="report-title"></h3>
            <div class="report-pages"></div>
            <div class="report-data"></div>
            <h3>APD Forward Compliance</h3>
            <h3 class="apdf-compliance"></h3>
            <h3>Independent Monitor Compliance Table</h3>
            <ul class="compliance-list">
              <li class="compliance-list__item"></li>
              <li class="compliance-list__item"></li>
              <li class="compliance-list__item"></li>
            </ul>
            <div class="js-compliance-help help">?</div>
          </div>
          <table class="compliance-table">
            <thead>
              <tr>
                <th>IMR</th>
                <th>Pages</th>
                <th>Primary Compliance</th>
                <th>Secondary Compliance</th>
                <th>Operational Compliance</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="chart-tooltip"></div>
      <div class="js-modal modal">
        <div class="js-modal__body modal__body">
          <h2 class="modal-title">Welcome to smartCASA</h2>
          <p>
            smartCASA is an interactive web application for exploring the City
            of Albuquerque's progress towards meeting the requirements of the
            Department of Justice's
            <a
              href="https://www.cabq.gov/police/documents/first-amended-restates-cour-approved-settlement-agreement.pdf"
              target="_blank"
              rel="noopener"
              aria-label="CASA PDF"
              >Court Approved Settlement Agreement</a
            >
            (CASA). This application breaks down the CASA into it constituent
            paragraphs for easy comparison against monitoring reports by the
            <a
              href="https://www.abqmonitor.org/about"
              target="_blank"
              rel="noopener"
              aria-label="Independent Monitoring Team website"
              >Independent Monitoring Team</a
            >.<br /><br />Click continue to start browsing.
          </p>
          <div class="js-modal-continue-btn modal-continue-btn">Continue</div>
        </div>
        <div class="js-modal__background modal__background"></div>
      </div>
    </section>
    <footer class="footer">
      <span>
        Built by
        <a
          href="https://www.apdforward.org/"
          target="_blank"
          rel="noopener"
          aria-label="APD Forward homepage"
          >APD Forward</a
        >
      </span>
      <div class="footer-right">
        <div class="about js-about-btn">About</div>
        <a
          href="https://github.com/apdforward/smartcasa"
          target="_blank"
          rel="noopener"
          class="github-link"
          aria-label="smartCASA github page"
        >
          <i data-feather="github"></i>
        </a>
      </div>
    </footer>
    <div class="snack snack--hidden">Paragraph copied to clipboard</div>
    <script
      src="https://browser.sentry-cdn.com/4.6.4/bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: '<%= htmlWebpackPlugin.options.sentryDns %>'
      });
    </script>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.js %>"
    ></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
